<h1>ストップウォッチ</h1>
<h2 id="timerStatus" data-pomodoro='<%=@timer.pomodoro%>' data-short-rest='<%=@timer.short_rest%>' data-long-rest='<%=@timer.long_rest%>'></h2>
<% if user_signed_in? %>
  <h3 id="current-task">
  </h3>
<% end %>
<h3 id="timerText"><%=@timer.pomodoro/60%>分</h3>
<button id="start" class="btn btn-primary"></button>
<button id="reset" class="btn btn-danger">リセット</button>
<% if user_signed_in? %>
	<button id="end" class="hidden btn btn-success">Done!!</button>
<% end %>