@import "jquery-ui";
@import "bootstrap-sprockets";
@import "bootstrap";

.sortable-table {
  li{
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
}

.sortable-table:active {
  li{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}